html,body{
    margin: 0px;
    padding: 0px;
    background-color: #404040;
}
a:hover{
    color: yellow;
    transition: 1.5s;
}
a{
    text-decoration: none;
    color: white;
}
/*----------header---------*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(header-background/Rectangle\ 4.png);
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
}
/*-------------main------------*/
.hp{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    background: #f2f2f2;
}
.div1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 20px;
    border: solid;
    width: 50%;
}
