html,body{
    margin: 0px;
    padding: 0px;
}
a:hover{
    color: yellow;
    transition: 1.5s;
}
a{
    text-decoration: none;
    color: white;
}
.lien1{
    color: yellow;
}

/*----------header---------*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(header-background/Rectangle\ 4.png);
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    background: #f2f2f2;
  }
/*------main---------*/
.parentphoto{
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.boderphoto,.boderphoto1{
    width: 300px;
    height: 250px;
    margin-top: 50px;
    border-style: solid;
}
.deuxtext{
    margin-top: 50px    ;
    display: flex;
    justify-content: space-around;
}
.divbutton{
    margin-top: 50px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    background-color: #404040;
    width: 40%;
    border-radius: 30px;
}
footer{
    display: flex;
    align-items: center;
  }
  .divfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: #404040;
    
  }
@media (max-width: 900px){
.parentphoto{
    justify-content: center;
}

.boderphoto1{
    display: none;
}
.deuxtext{
    flex-direction: column;
    text-align: center;
}
}